@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

:root {
  /* color: #e0e0e0; */
  color: black;
  /* background-color: #141b2d; */
  background-color: #080b12;
  /* background: #000428; */
  /* background: -webkit-linear-gradient(to top, #004e92, #000428); */
  /* background: linear-gradient(to top, #004e92, #000428); */
}
